header {
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    box-sizing: border-box;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 15px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.instagram-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.instagram-icon:hover {
    color: #ccc;
}

.background-video-section {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    text-align: center;
}

.logo {
    max-width: 400px;
    height: auto;
}

.about-section {
    padding: 40px 20px;
    background-color: rgb(10, 12, 13);
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.about-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #fff;
    line-height: 1.6;
}

#shows-section {
    padding: 20px;
    color: #fff;
    background-color: rgb(12, 15, 17);
    box-sizing: border-box;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    height: 40vh;
}

img {
    max-width: 100%;
    height: auto;
}

#mc_embed_signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

input[type="email"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}
.footer {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: relative
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    flex: 1;
}

.footer-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.footer-icon img {
    width: 80px;
    height: auto;
    transition: transform 0.3s, fill 0.3s;
}

.footer-icon:hover img {
    transform: scale(1.2);
    fill: #ddd;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-icon {
        position: static;
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-icon img {
        width: 75px;
    }
}
.floating-icon {
    z-index: 2000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #d1c342;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.floating-icon:hover {
    background-color: #333;
    transform: scale(1.1);
}

.floating-icon .icon-image {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.events-section {
    padding: 20px;
    background-color: #060404;
}

.events-widget {
    max-width: 800px;
    margin: 0 auto;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin-bottom: 15px;
    background-color: #000000;
    font-family: "Avenir", Sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event-details {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.event-date {
    font-weight: bold;
    color: #666;
    margin-top: 5px;
    margin-bottom: 0px;
}

.event-info {
    margin-bottom: 10px;
}

.event-venue {
    font-weight: bold;
}

.event-location {
    color: #666;
}

.event-tickets {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    display: inline-block;
    margin-left: auto;
}

.event-tickets:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
